.color-converter {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.converter-form {
	display: flex;
	flex-direction: column;
}

.hex-input, .rgb-result {
	font-size: 24px;
	text-align: center;
	padding: 10px;
	border: none;
}

.hex-input {
	margin-bottom: 10px;
}

.hex-input:focus {
	outline: 1px solid rgb(86, 86, 255);
}

.rgb-result {
	background-color: rgb(139, 139, 139);
}